<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Home</title>
    <script src="https://kit.fontawesome.com/aa824e78b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/selfHomePage.css">
</head>
<body>
    <div class="container">
        <header th:replace="~{chat :: navigation}"></header>
        <div class="user-info-container">
            <div class="user-block">
                <div class="user-avatar" th:fragment="user-avatar-block">
                    <img th:src="${avatarImageUrl}" alt="image user" class="user-img">
                    <div id="avatar-image-options" class="image-options" style="display: none">
                        <button id="upload-avatar-image-btn" class="upload-image-btn"><i class="fa-solid fa-image"></i>Upload image</button>
                        <button id="delete-avatar-image-btn" class="delete-image-btn"><i class="fas fa-trash"></i> Delete image</button>
                    </div>
                </div>
                <div class="user-info" th:style="'background-image: url(' + ${profileBgImageUrl} + ');'">
                    <div class="header-user-block">
                        <div class="edit-details-buttons">
                            <button class="edit-button">Edit</button>
                            <button class="save-button" style="display: none">Save</button>
                            <button class="cancel-button" style="display: none">Close</button>
                        </div>
                    </div>
                    <div id="bg-image-options" class="image-options" style="display: none">
                        <button id="upload-bg-image-btn" class="upload-image-btn"><i class="fa-solid fa-image"></i>Upload image</button>
                        <button id="delete-bg-image-btn" class="delete-image-btn"><i class="fas fa-trash"></i> Delete image</button>
                    </div>
                </div>
                <div class="user-details-info">
                    <div class="user-details-text">
                        <h3 class="user-name" th:text="${user.getUsername()}"></h3>
                        <p class="user-description" th:text="${user.getUserDetails().getShortInfo()}"></p>
                        <button class="copy-link-button" th:data-user-id="${user.getUserId()}">Copy Link</button>
                    </div>
                    <div class="user-details-contacts" th:fragment="user-details-contacts">
                        <h4 class="email" th:if="${user.getUserDetails().isShowingEmailFlag()}" th:text="${user.getEmail()}"></h4>
                        <h4 class="phone-number" th:if="${user.getUserDetails().getPhoneNumber() != null}" th:text="${user.getUserDetails().getPhoneNumber()}"></h4>
                    </div>
                </div>
            </div>
        </div>
        <input id="image-input" type="file" style="display: none;">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--    <script type="module" src="/node_modules/@stomp/stompjs/esm6/client.js"></script>-->
    <script type="text/javascript" src="/node_modules/webstomp-client/dist/webstomp.min.js"></script>
    <script src="/js/selfHomePage.js"></script>
    <script>
        const currentUrl = window.location.pathname;
        const activeItem = document.querySelector('.item a[href="' + currentUrl + '"]').parentElement;
        activeItem.classList.add('item-active');
    </script>
</body>
</html>
