<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>CodePen - Material Messaging App Concept</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
  <link rel="stylesheet" href="/css/chat.css">


</head>
<body>
  <div class="container">
    <nav class="menu">
      <ul class="items">
        <li class="item">
          <i class="fa fa-home" aria-hidden="true"></i>
        </li>
        <li class="item">
          <i class="fa fa-user" aria-hidden="true"></i>
        </li>
        <li class="item item-active">
          <i class="fa fa-commenting" aria-hidden="true"></i>
        </li>
        <li class="item">
          <i class="fa fa-cog" aria-hidden="true"></i>
        </li>
      </ul>
    </nav>

    <section class="discussions">
      <div class="discussion search">
        <div class="searchbar">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input id="chats-search-input" type="text" placeholder="Search..."></input>
        </div>
      </div>
<!--      <div class="discussion message-active">-->
<!--        <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">-->
<!--          <div class="online"></div>-->
<!--        </div>-->
<!--        <div class="desc-contact">-->
<!--          <p class="name">Megan Leib</p>-->
<!--          <p class="message">9 pm at the bar if possible 😳</p>-->
<!--        </div>-->
<!--        <div class="timer">12 sec</div>-->
<!--      </div>-->

      <div id="chat-list">
        <div th:each="chat : ${chats}" th:data-chat-id="${chat.chatId}"
             class="chat-list discussion message-active">
          <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">
            <div class="online"></div>
          </div>
          <div class="desc-contact">
            <p class="name" th:text="${chat.getChatName(currentUser)}"></p>
            <p class="message unique-username" th:text="${chat.lastMessage}"></p>
          </div>
          <div class="timer">12 sec</div>
        </div>
      </div>

    </section>
    <section class="chat">
      <div class="header-chat">
        <i class="icon fa fa-user-o" aria-hidden="true"></i>
        <p id="chat-title" class="name">Megan Leib</p>
        <i class="icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
      </div>
      <div id="messages-chat" class="messages-chat">
<!--        <div class="message">-->
<!--          <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">-->
<!--            <div class="online"></div>-->
<!--          </div>-->
<!--          <p class="text"> Hi, how are you ? </p>-->
<!--        </div>-->
<!--        <div class="message text-only">-->
<!--          <p class="text"> What are you doing tonight ? Want to go take a drink ?</p>-->
<!--        </div>-->
<!--        <p class="time"> 14h58</p>-->
<!--        <div class="message text-only">-->
<!--          <div class="response">-->
<!--            <p class="text"> Hey Megan ! It's been a while 😃</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="message text-only">-->
<!--          <div class="response">-->
<!--            <p class="text"> When can we meet ?</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <p class="response-time time"> 15h04</p>-->
<!--        <div class="message">-->
<!--          <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);">-->
<!--            <div class="online"></div>-->
<!--          </div>-->
<!--          <p class="text"> 9 pm at the bar if possible 😳</p>-->
<!--        </div>-->
<!--        <p class="time"> 15h09</p>-->
      </div>
      <div class="footer-chat">
        <i class="icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i>
        <input id="message-input" type="text" class="write-message" placeholder="Type your message here">
        <i id="send-message-button" class="icon send fa fa-paper-plane-o clickable" aria-hidden="true"></i>
      </div>
    </section>
  </div>
  <script  src="/js/сhat-controller.js"></script>
</body>
</html>
