<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <meta charset="UTF-8">
  <title>Chats</title>
  <script src="https://kit.fontawesome.com/aa824e78b1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/chat.css">


</head>
<body>
  <div class="container">
    <nav class="menu" th:fragment="navigation">
      <ul class="items">
        <li class="item">
          <a href="/home"><i class="fa fa-home" aria-hidden="true"></i></a>
        </li>
        <li class="item">
          <a href="/chats"><i class="fa fa-commenting" aria-hidden="true"></i></a>
        </li>
        <li class="item">
          <a href="/settings"><i class="fa-sharp fa-solid fa-gear"></i></a>
        </li>
        <li class="item logout-button">
          <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        </li>
      </ul>
    </nav>

    <section class="discussions">
      <div class="discussion search">
        <div class="searchbar">
          <i class="fa fa-search" aria-hidden="true"></i>
          <input id="chats-search-input" type="text" placeholder="Search..."></input>
        </div>
      </div>

      <div id="chat-list">
        <div th:each="chat : ${chats}" class="chat-list discussion message-active" th:data-chat-id="${chat.chatId}">
          <div class="photo" th:style="'background-image: url(' + ${chat.chatAvatarImageUrl} + ');'"></div>
          <div class="desc-contact">
            <p class="name" th:text="${chat.chatName}"></p>
            <p class="message unique-username" th:text="${chat.lastMessage}"></p>
          </div>
        </div>
      </div>

    </section>
    <section class="chat">
      <div class="header-chat">
        <i class="icon fa fa-user-o" aria-hidden="true"></i>
        <p id="chat-title" class="name" th:text="${chatName}"></p>
        <i class="icon clickable fa fa-ellipsis-h right" aria-hidden="true"></i>
      </div>
      <div id="messages-chat" class="messages-chat">
        <div th:if="${messages != null}" th:each="message : ${messages}"
             th:classappend="message">
          <div class="photo" th:style="'background-image: url(' + ${message.userAvatarUrl} + ')'"></div>
          <div class="text-block">
            <div class="info-message">
              <a th:href="@{/home/{userId}(userId=${message.senderId})}"
                 class="message-details username" th:text="${message.senderName}"></a>
              <p class="message-details" th:text="${message.departureTime}"></p>
            </div>
            <div class="message-text">
              <p th:text="${message.text}"></p>
              <p th:if="${message.subMessages != null}" th:each="subMessage : ${message.subMessages}" th:text="${subMessage}"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-chat" th:style="'display: '+ ${displayInputField? 'flex': 'none'}">
        <input id="message-input" type="text" class="write-message" placeholder="Type your message here">
        <div class="smiley-icon-container">
          <i class="icon fa fa-smile-o clickable" style="font-size:25pt;" aria-hidden="true"></i>
          <div class="smiley-menu" style="display: none">
            <div th:each="category : ${smileysCategoriesList}" th:with="smileys=${category.smileys}">
              <div th:text="${category.categoryName}" class="category-name"></div>
              <div class="smiley-items">
                <i th:each="smiley : ${smileys}" class="emoji-item" th:data-emoji="${smiley}" th:text="${smiley}"></i>
              </div>
            </div>
          </div>
        </div>
        <i id="send-message-button" class="icon send fa fa-paper-plane-o clickable" aria-hidden="true"></i>
      </div>
    </section>
  </div>
  <script  src="/js/сhat-controller.js"></script>
  <script>
    const currentUrl = window.location.pathname;
    const activeItem = document.querySelector('.item a[href="' + currentUrl + '"]').parentElement;
    activeItem.classList.add('item-active');
  </script>
</body>
</html>
